

.control label {
  text-align: left;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.invalid  input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.control-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.control-div p {
  font-size: 0.85rem;
}

.invalid p {
  color: #b40e0e;
  text-align: center;
}
