.form{
    position: fixed;
    inset: 0;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
}

.control-group{
    background-color: white;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 0.625rem
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}


